server:
  port: ${TASK_PORT:8082}

spring:
  application:
    name: task-service

  datasource:
    url:  ${SPRING_DATASOURCE_URL}
    username:  ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect

logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql:
              BasicBinder: TRACE
    com:
      serviconli: DEBUG

# URL del patient-service (para llamadas internas)
patient:
  service:
    url: ${PATIENT_SERVICE_URL:http://patient-service:8083/api/v1}